*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

body{
  background-color: #eee;
}

button{
  cursor:pointer;
  outline:none;
}

p{
  font-size: 1.8rem;
}

.log-in-page-wrapper{
  background-image: url('./images/main-bg.png');
  position: relative;
}

.log-in-page{
  width:100%;
  min-height: 100vh;
  background:linear-gradient(275deg,rgba(0,0,0,.8), rgba(0,0,0,.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav{
  width:100%;
  min-height: 9vh;
  padding:15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left:100px;
  padding-right:100px;
  border-bottom: 2px solid #00E0E0;
  background-color: #fff;
  position:fixed;
  top:0;
  left:0;
  z-index: 99999!important;
}

.portal-name{
  font-size:3rem;
  font-weight: 400;
}

.log{
  font-size:2rem;
  border:none;
  border-right:2px solid #181F1F;
  border-bottom:2px solid #181F1F;
  padding:15px 25px;
  background-color: #fff;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.log-in:hover{
  box-shadow: 10px 10px 5px #181F1F;
  margin-bottom:5px
}

.main-waves{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
}

.log-in-content{
  padding-top:300px;
  display:flex;
  justify-content: space-around;
  color:#fff;
}

.log-in-content .lyrics{
  font-style: italic;
}

.log-in-content .hello-text{
  font-size: 4rem;
}

.main{
  margin-top:15vh;
}

.post-publish{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-content{
  width:700px;
  height:150px;
  border: 2px solid #ACACAC;
  margin-bottom: 20px;
  padding:10px;
  resize: none;
  border:none;
  border-right:2px solid #181F1F;
  border-bottom:2px solid #181F1F;
  outline: none;
  font-size: 2rem;
  background-color: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.publish{
  padding: 20px 45px;
  border:none;
  border-right:2px solid #181F1F;
  border-bottom:2px solid #181F1F;
  background-color: #fff;
  transition: .2s;
  margin-bottom: 50px;
  font-size: 2rem;
  background-color: inherit;
}

.publish:hover{
  box-shadow: 10px 10px 5px #181F1F;
}

.post-link{
  text-decoration: none;
  color:#000;
}

.post{
  width:700px;
  margin:0 auto;
  padding:20px;
  border-right:2px solid #181F1F;
  border-bottom:2px solid #181F1F;
  margin-bottom:100px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.post-author{
  font-size: 2.2rem;
  color:#222;
  margin-bottom: 15px;
}

.post-author span{
  padding:10px;
  border-bottom: 2px solid #000;
}

.post-text{
  font-size:2.3rem;
  padding:10px;
  margin-bottom: 25px;
}

.post-next{
  display: flex;
  align-items: center;
  padding:10px;
}

.arrow{
  margin-left: 25px;
}

.comments-count{
  padding: 10px;
  font-size: 1.6rem;
}

.users-aside{
  position: fixed;
  margin-top:10vh;
  top:0;
  right:0;
  width:250px;
  height: 100%;
  overflow-y: scroll;
  border-left: 2px solid black;
  padding:10px;
}

.users-aside-title{
  font-size: 1.9rem;
  margin-bottom: 10px;
}

.user-aside{
  font-size: 1.6rem;
  color:#444;
  margin-bottom: 10px;
  cursor:default;
}

.user-aside:last-child{
  margin-bottom: 0;
}

.post-page{
  margin-top:9vh;
  font-size: 10rem;
}