*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

button{
  cursor:pointer;
  outline:none;
}

p{
  font-size: 1.8rem;
}

.log-in-page-wrapper{
  background-image: url('./images/main-bg.png');
}

.log-in-page{
  width:100%;
  min-height: 100vh;
  background:linear-gradient(275deg,rgba(0,0,0,.8), rgba(0,0,0,.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav{
  width:100%;
  min-height: 10vh;
  padding:15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left:100px;
  padding-right:100px;
  border-bottom: 2px solid #00E0E0;
  background-color: #fff;
}

.portal-name{
  font-size:3rem;
  font-weight: 400;
}

.log{
  font-size:2rem;
  border:none;
  border-top:2px solid #181F1F;
  border-bottom:2px solid #181F1F;
  padding:15px 25px;
  background-color: #fff;
}

.main-waves{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
}

.log-in-content{
  margin-top:200px;
  display:flex;
  justify-content: space-around;
  color:#fff;
}

.log-in-content .lyrics{
  font-style: italic;
}

.log-in-content .hello-text{
  font-size: 4rem;
}