*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

button{
  cursor:pointer;
  outline:none;
}

p{
  font-size: 1.8rem;
}

.log-in-page-wrapper{
  background-image: url('./images/main-bg.png');
  position: relative;
}

.log-in-page{
  width:100%;
  min-height: 100vh;
  background:linear-gradient(275deg,rgba(0,0,0,.8), rgba(0,0,0,.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav{
  width:100%;
  min-height: 10vh;
  padding:15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left:100px;
  padding-right:100px;
  border-bottom: 2px solid #00E0E0;
  background-color: #fff;
  position:fixed;
  top:0;
  left:0;
  z-index: 99999!important;
}

.portal-name{
  font-size:3rem;
  font-weight: 400;
}

.log{
  font-size:2rem;
  border:none;
  border-right:2px solid #181F1F;
  border-bottom:2px solid #181F1F;
  padding:15px 25px;
  background-color: #fff;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.log-in:hover{
  box-shadow: 10px 10px 5px #181F1F;
  margin-bottom:5px
}

.main-waves{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
}

.log-in-content{
  padding-top:300px;
  display:flex;
  justify-content: space-around;
  color:#fff;
}

.log-in-content .lyrics{
  font-style: italic;
}

.log-in-content .hello-text{
  font-size: 4rem;
}

.main{
  margin-top:15vh;
}

.post-publish{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-content{
  width:30%;
  height:150px;
  border: 2px solid #ACACAC;
  /* border-radius: 10px; */
  margin-bottom: 20px;
  padding:10px;
  resize: none; 
  border:none;
  border-right:2px solid #181F1F;
  border-bottom:2px solid #181F1F;

}

.publish{
  padding: 15px 25px;
  border:none;
  border-right:2px solid #181F1F;
  border-bottom:2px solid #181F1F;
  background-color: #fff;
  transition: .2s;
  margin-bottom: 20px;
}

.publish:hover{
  box-shadow: 10px 10px 5px #181F1F;
  margin-bottom:5px
}

.post{
  width:30%;
  margin:0 auto;
  padding:10px;
  border:2px solid black;
  margin-bottom:15px;
}